@import "../common/css/mixin.styl";

.course-details
  padding: 1rem
  position: relative
  .int-div
    margin-bottom: 1rem
    padding: .5rem
    background-color: #f5f5f5
    &>h2
      margin-bottom: .5rem
      line-height: 2rem
      font-size: 1.6rem
      text-align: center
      font-weight: normal
    div
      p,
      span
        font-size: 1.2rem!important
  .introduce
    .course-list
      &>li
        &:first-child
          margin-bottom: 1rem
      p
        line-height: 2rem
  .time
    &>div
      text-align: center
      color: #40b0ef
  .feature
    &>div
      line-height: 2rem
  .appointment
    display: block
    width: 100%
    l-height(2.5rem)
    text-align: center
    color: #fff