<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./layout/head-cmn.html')%>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= require('html-loader!./layout/header.html')%>
<section>
  <div class="p-shade"></div>
  <div class="about">
    <ul class="p-tag-list about-tab border-1px">
      <li class="active">关于我们</li>
      <li>联系我们</li>
      <li>版权声明</li>
      <li>免责声明</li>
    </ul>
    <ul class="p-tag-cnt about-cnt">
      <li>雷哥SAT，预见你想象的1400＋
        雷哥SAT归属于上海申雷友管理咨询有限公司。
        雷哥SAT网站，一站式SAT新生态学习服务平台，提供包含SAT在线做题、 在线模考、在线测评、在线答疑、在线学习计划定制、面授课程、在线直播课程、录播视频课程、免费公开课等一系列SAT学习服务。 雷哥SAT是教育科技领域里提供“在线做题+在线模考+在线测评+在线答疑＋面授课+视频课＋直播课+公开课”一站式SAT新生态的学习系统。集结了SAT行业教学专家以及来自哈佛、耶鲁、哥大、MIT 、LSE等海外名师团队任教， 为用户提供“名师专家课程”与“课后练习模考”的新生态SAT学习系统。
      </li>
      <li>
       <ul class="relation">
         <li>
           <h2>上海</h2>
           <p>电话: 021-55271219 021-52986736</p>
           <p>地址：杨浦区政学路51号瑞力创新中心2号楼305室（近大学路）</p>
           <p>地铁路线：乘坐10号线江湾体育场站下车1号口出，步行约630米即可到达</p>
         </li>
         <li>
           <h2>北京</h2>
           <p>电话：010-82194388</p>
           <p>地址：北京市海淀区海淀大街38号银科大厦808室</p>
           <p>地铁路线：乘坐地铁10号线至苏州街站下B口出，乘坐地铁4号线至中关村站D口出，直行约5分钟即可到达银科大厦</p>
         </li>
         <li>
           <h2>成都</h2>
           <p>电话：028-64442708</p>
           <p>地址：成都市锦江区总府路2号时代广场A座2807</p>
           <p>地铁路线：乘坐地铁2号线至春熙路站下，由D出口出站，向总府路方向直走约300米到达时代广场A座2807室</p>
         </li>
         <li>
           <h2>杭州</h2>
           <p>电话：0571-87244618</p>
           <p>地址：杭州市下城区庆春路118号嘉德广场1703室</p>
           <p>地铁路线：乘坐地铁1号线至凤起路或龙翔桥下，下车步行1.4公里即可达到嘉德广场1703</p>
         </li>
         <li>
           <h2>武汉</h2>
           <p>电话：027-87132585</p>
           <p>地址：武汉市珞瑜路889号光谷融众国际1501室（光谷国际广场二期）</p>
           <p>地铁路线：乘坐地铁2号线至光谷广场(轨道交通2号线)E出口，华美达光谷大酒店对面</p>
         </li>
       </ul>
      </li>
      <li>
        本网站提供的OG内容，版权归College Board所有；Princeton 2017 & 500+ Questions内容，版权归Princeton Review所有；KAPLAN2017内容，版权归Kaplan Publishing所有；Barron’s tests & Reading, 版权归Barron’s Educational Series所有。
        本网站所提供的知识库内容，部分来源于雷哥SAT整理发布，版权归雷哥网所有，仅供学习者交流免费使用；部分来源于互联网，版权归原作者所有，仅供学习者交流免费使用。
        本网站保留在法律允许的范围内对本声明的解释权，并有权随时修改本声明，请注意随时关注本声明的内容。
      </li>
      <li>
        雷哥SAT为非赢利性网站，所提供的资料仅供学习之用，下载后请及时删除，不得用于任何形式的商业性用途，否则由此产生的法律后果与本站无关。
        雷哥SAT作为网络服务提供者，对剽窃、抄袭等侵权行为的发生不具备充分的监控能力，对他人在本网站上实施的此类侵权行为不承担法律责任，侵权的法律责任概由剽窃、抄袭者自行承担。
        雷哥SAT在建设中引用了互联网上的一些资源并对有明确来源的注明了出处，版权归原作者及网站所有，如果您对本站文章及资料的版权归属存有异议，请您致电400-1816-180，我们会及时处理。
        网友在雷哥SAT的原创作品，由雷哥SAT与作者共同享有版权，其他网站或传统媒体如需使用，须与本站联系，经过本站授权，方可转载，并在转载时注明原创作者及雷哥SAT网站链接。
        雷哥SAT网友所发表的言论仅代表网友自己，与本站观点无关。
        雷哥教育网站对发表在网站内的文章有编辑整理的权利。
        雷哥SAT致力于提供合理、准确、完整的资讯信息，但无法保证信息的完全合理、准确和完整性，不对因信息的不合理、不准确或遗漏导致的任何损失或损害承担责任。
        任何由于黑客攻击、计算机病毒侵入或发作等影响网络正常经营的不可抗力因素而造成的损失，本网站均得免责。因和本网站链接的其他网站所造成的个人资料泄露及由此而导致的任何法律争议和后果，本网站均得免责。
        本网站如因系统维护或升级而需暂停服务时，将事先公告。若因线路及非本公司控制范围外的硬件故障或其他不可抗力因素而导致暂停服务，于暂停服务期间造成的一切不便于损失，本网站概不负责。
        本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。
        凡以任何方式登录本网站或直接、间接使用本网站资料，即表明您已经阅读并接受上述条款。
      </li>
    </ul>
  </div>
</section>
<!--底部导航-->
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>