<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./layout/head-cmn.html')%>
  <title><%= htmlWebpackPlugin.options.title %>--雷哥SAT</title>
</head>
<body>
  <!--头部导航-->
  <nav class="home-nav">
    <div class="stair">
      <ul>
        <li><img src="../../images/logo.png" alt=""></li>
        <li class="eng"><a href="#">SAT</a></li>
        <li class="eng"><a href="http://m.gmatonline.cn/wap/index.html">GMAT</a></li>
        <li><a href="http://m.toeflonline.cn/">托福</a></li>
        <li><a href="http://ielts.viplgw.cn/newIndex.html">雅思</a></li>
        <li><a href="http://m.smartapply.cn/">留学</a></li>
      </ul>
    </div>
    <div class="second">
      <ul>
        <li><a href="./exercise.html">
          <div><i class="fa fa-pencil"></i></div>
          <p>做题</p>
        </a></li>
        <li><a href="./evaluation.html">
          <div><i class="fa fa-paper-plane"></i></div>
          <p>测评</p>
        </a></li>
        <li><a href="./mock.html">
          <div><i class="fa fa-file-text"></i></div>
          <p>模考</p>
        </a></li>
        <li><a href="./pubClass.html">
          <div><i class="fa fa-lightbulb-o"></i></div>
          <p>公开课</p>
        </a></li>
        <li><a href="./course.html">
          <div><i class="fa fa-book"></i></div>
          <p>课程</p>
        </a></li>
      </ul>
    </div>
  </nav>
  <!--内容区-->
  <section class="home">
    <!--<%= require('html-loader!./layout/banner.html')%>-->
    <div class="home-wrap">

    </div>
  </section>
  <!--底部导航-->
  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>