<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./layout/head-cmn.html')%>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= require('html-loader!./layout/header.html')%>
<section>
  <div class="p-shade"></div>
  <ul class="p-tag-list information-list border-1px">
    <li class="active" data-value="news">新闻资讯</li>
    <li data-value="report">学术报告</li>
    <li data-value="experience">高分经验</li>
  </ul>
  <ul class="p-tag-cnt info-wrap">
    <!--<li class="p-info-list"></li>-->
    <!--<li class="p-info-list"></li>-->
    <!--<li class="p-info-list"></li>-->
  </ul>
</section>
<!--底部导航-->
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>