<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./layout/head-cmn.html')%>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<!--头部导航-->
<%= require('html-loader!./layout/header.html')%>
<!--内容区-->
<section class="user-mock">
  <ul class="p-tag-list user-nav border-1px">
    <li class="active" data-major="all">全套模考</li>
    <li data-major="single">单科模考</li>
  </ul>
  <ul class="p-tag-cnt user-wrap">
    <!--<li class="user-list">-->
      <!--<dl>-->
        <!--<dd class="user-item">-->
          <!--<div class="user-text">-->
            <!--<h3>OG-2016-第四套-Reading3</h3>-->
            <!--<p><i class="fa fa-clock-o"></i>2017-07-23 12:12:12</p>-->
          <!--</div>-->
          <!--<a class="user-report" href="#">查看报告</a>-->
          <!--<input type="button" value="删除" class="user-delete">-->
        <!--</dd>-->
        <!--<dd class="user-item">-->
          <!--<div class="user-text">-->
            <!--<h3>OG-2016-第四套-Reading3</h3>-->
            <!--<p><i class="fa fa-clock-o"></i>2017-07-23 12:12:12</p>-->
          <!--</div>-->
          <!--<a class="user-report" href="#">查看报告</a>-->
          <!--<input type="button" value="删除" class="user-delete">-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</li>-->
    <!--<li class="user-list">-->
      <!--<dl>-->
        <!--<dd class="user-item">-->
          <!--<div class="user-text">-->
            <!--<h3>OG-2016-第四套-Reading3</h3>-->
            <!--<p><i class="fa fa-clock-o"></i>2017-07-23 12:12:12</p>-->
          <!--</div>-->
          <!--<a class="user-report" href="#">查看报告</a>-->
          <!--<input type="button" value="删除" class="user-delete">-->
        <!--</dd>-->
      <!--</dl>-->
    <!--</li>-->
  </ul>
  <!--分页-->
  <!--<ul class="p-page">-->
    <!--<li class="p-first" data-num="1">首页</li>-->
    <!--<li class="p-prev" data-num="1">上一页</li>-->
    <!--<li class="p-pos">1/3</li>-->
    <!--<li class="p-next" data-num="2">下一页</li>-->
    <!--<li class="p-end" data-num="3">末页</li>-->
  <!--</ul>-->
</section>
<!--底部导航-->
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>