<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./layout/head-cmn.html')%>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<!--头部导航-->
<%= require('html-loader!./layout/header.html')%>
<!--内容区-->
<section class="register">
  <div class="container">
    <div class="in-box">
      <div class="reg-info">
        <ul>
          <p class="wrong-msg">错误信息!</p>
          <li>
            <i class="fa fa-user-circle"></i>
            <input type="text" placeholder="请输入用户名"  nullmsg="请输入用户名" id="username"/>
            <span class="validform-checktip">请填写信息！</span>
          </li>
          <li>
            <div class="input-phone">
              <i class="fa fa-phone"></i>
              <input type="phone" placeholder="请输入你的手机号" name="phone" nullmsg="请输入手机号" id="phone"/>
              <span class="validform-checktip">请填写信息！</span>
            </div>
            <div class="input-code-btn">
              <input type="button" id="codeBtn" value="验证码" />
            </div>
          </li>
          <li>
            <i class="fa fa-code"></i>
            <input type="text" placeholder="请输入你的验证码" nullmsg="验证码不能为空！" id="enterCode"/>
            <span class="validform-checktip">请填写信息！</span>
          </li>
          <li>
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="请输入密码(支持数字和大小写字母)" nullmsg="请填写密码！" name="pass" id="password"/>
            <span class="validform-checktip">请填写信息！</span>
          </li>
          <li>
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="请确认你的密码" nullmsg="请确认密码!" name="confirmPass" id="confirmPass"/>
            <span class="validform-checktip">请填写信息！</span>
          </li>
        </ul>
      </div>
      <div class="reg-btn">
        <input type="button" value="注册" id="registerBtn" />
        <p>已经有了账号？ <a href="./user-login.html">登录</a></p>
      </div>
    </div>
  </div>
</section>
<!--底部导航-->
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>