<div class="j-article-action">
  <div class="article-action-mid"></div>
</div>
<div class="p-to-top"><i class="fa fa-arrow-up"></i></div>
<footer class="footer">
  <ul class="footer-list">
    <li><a href="./about.html#num=1">关于我们</a></li>
    <li><a href="./about.html#num=2">联系我们</a></li>
    <li><a href="./about.html#num=3">版权声明</a></li>
    <li><a href="./about.html#num=4">免责声明</a></li>
  </ul>
  <ul class="footer-nav border-1px">
    <li>
      <div><i class="fa fa-home"></i></div>
      <a href="./index.html">首页</a>
    </li>
    <li>
      <div><i class="fa fa-commenting"></i></div>
      <a target="blank" href="http://p.qiao.baidu.com/im/index?siteid=9946474&ucid=3827656&cp=&cr=&cw=">在线咨询</a>
      <!--<a target="blank" href="mqqwpa://im/chat?chat_type=wpa&uin=2992826058&version=1&src_type=web&web_src=http://m.haishiit.com/">在线咨询</a>-->
    </li>
    <li id="myLogin">
      <div><i class="fa fa-user"></i></div>
      <a href="javascript:void(0)">我的</a>
    </li>
  </ul>
</footer>