<nav class="header border-1px">
  <ul>
    <li class="header-search"><a href="./search.html"><i class="fa fa-search"></i></a></li>
    <li class="p-title">练习</li>
    <li class="header-btn"><i class="fa fa-navicon"></i></li>
  </ul>
</nav>
<div class="header-nav">
  <ul>
    <li><a href="./exercise.html">练习</a></li>
    <li><a href="./evaluation.html">测评</a></li>
    <li><a href="./mock.html">模考</a></li>
    <!--<li><a href="./knowledge.html">知识库</a></li>-->
    <li><a href="./course.html">SAT课程</a></li>
    <li><a href="./pubClass.html">公开课</a></li>
    <li><a href="./information.html">文章资讯</a></li>
    <li><a href="./teacher.html">名师团队</a></li>
  </ul>
</div>
