@import "./css/mixin.styl";

body,html
  background-color: #fff
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, b, i, dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, footer, header,
menu, nav, section, summary,
time, mark, audio, video, input
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%
body,textarea,select,input,pre
  font-family: arial,microsoft yahei,helvetica,sans-serif;
  color: #333;
a
  color: #333;
  text-decoration: none;
  -webkit-backface-visibility: hidden;

li
  list-style: none;
a,button
  cursor:pointer;
table
  border-collapse:collapse;
  border-spacing:0;

section
  margin: 4rem 0 7rem 0
  padding-bottom: 1rem
.p-shade
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0,.7)
  z-index: 1
  display: none
  &.active
    display: block
/**
  公共样式
**/
.clearfix
  display: block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.fl
  float: left
.fr
  float: right
.bColor
  background-color: #40b0ef
.fColor
  color: #40b0ef
//到顶部按钮
.p-to-top
  position: fixed
  right: 1rem
  bottom: 20%
  width: 3rem
  l-height(3rem)
  background-color: #40b0ef
  text-align: center
  display: none
  i
    color: #fff
    font-size: 1.8rem
//浏览更多
.p-info-more
  width: 10rem
  l-height(2.5rem)
  margin: 1rem auto 0
  border: 1px solid #40b0ef
  border-radius(1rem)
  font-size: 1.2rem
  text-align: center
  font-weight: 600
.p-info-bottom
  position: relative
  width: 8rem
  margin: 1rem auto 0
  text-align: center
  color: #ccc
  display: none
  &:before,
  &:after
    position: absolute
    content: ''
    display: block
    top: 50%
    trans-xy(0,-50%)
    width: 5rem
    height: 1px
    background-color: #ccc
  &:before
    left: -5rem
  &:after
    right: -5rem
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
/**
  标签切换样式
**/
.p-tag-list
  width: 100%
  l-height(4.4rem)
  display: flex
  background-color: #fff
  li
    flex: 1
    text-align: center
    font-size: 1.4rem
    border-bottom: 1px solid #ddd
    &.active
      border-bottom: 1px solid #40b0ef
.p-tag-cnt
  position: relative
  &>li
    position: relative
    top: 0
    left: 0
    width: 100%
    display: none
    &:first-child
      display: block
